.tag-btn {
margin: 5px;
}

#full-tags-list {
font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#full-tags-list .tag-entry {
margin: 0 0 15px 25px;
}

#full-tags-list .tag-entry a {
font-size: 20px;
}

#full-tags-list .tag-entry .entry-date {
color: #808080;
font-style: italic;
font-size: 16px;
}

.thi-columns{
  -webkit-columns: 350px 2; /* Chrome, Safari, Opera */
  -moz-columns: 350px 2; /* Firefox */
  columns: 350px 2;
}

.thi-columns ul{
margin-top: 0;
}