---
layout: base
title: About me
subtitle: Understand me and share the hobbies
css:
  - "/css/activity.css"
  - "/css/project.css"
js:
  - "/js/jquery-2.1.3.min.js"
---

{% include header.html type="page" %}

<!-- introduction -->
<section class="alt-color">
  {% include sections/sec-front-md.html %}
  <div style="margin-bottom: 30px" class="txt-center">
    My name is Dinh Anh <strong>Thi</strong> (call me Thi), a Vietnamese guy who
    is curious about everything. I start from an amateur mathematician and a
    curious learner. I like to write about applied maths, apps and tools which
    are helpful for the human life. I also like to <a href="/sketch">draw</a>,
    to <a href="/reading">read</a>, to <a href="/travel">travel</a> and to meet
    people.
  </div>
  <div class="txt-center">
    My dream goes with <a href="http://math2it.com">Math2IT</a>, a site for
    Vietnameses about Maths, LaTeX, Education and Technology. These are
    different from the others because they focus on the relationship between
    knowledge and human life. For example, Maths posts don’t talk about the pure
    theories but about applications of Maths in real life, about the way we can
    understand maths’ concepts intuitively.
  </div>
  {% include sections/sec-back.html %}
</section>

<!-- education -->
<section class="alt-color">
  {% include sections/sec-front-lg.html %} {% include sections/sec-timeline.html
  heading="Education" source=site.data.education ref="education" %} {% include
  sections/sec-back.html %}
</section>

<!-- publications -->
<section class="alt-color">
  {% include sections/sec-front-lg.html %} {% include
  sections/sec-publications.html heading="Recent publications"
  source=site.data.publications ref="publications"
  %} {% include sections/sec-back.html %}
</section>

<!-- research -->
<section class="alt-color">
  {% include sections/sec-front-lg.html %} {% include sections/sec-timeline.html
  heading="Research Experiences" source=site.data.research ref="research" %} {%
  include sections/sec-back.html %}
</section>

<!-- teaching -->
<section class="alt-color">
  {% include sections/sec-front-lg.html %} {% include sections/sec-teaching.html
  heading="Teaching" source=site.data.teaching ref="teaching" %} {%
  include sections/sec-back.html %}
</section>

<!-- projects -->
<!-- <section class="alt-color">
{% include sections/sec-front-md.html %}
{% include sections/sec-project.html %}
{% include sections/sec-back.html %}
</section> -->

<!-- contact -->
<section class="alt-color">
  {% include sections/sec-front-md.html %} {% include sections/sec-contact.html
  %} {% include sections/sec-back.html %}
</section>
