---
layout: base
title: My reading list
subtitle: Read to know you are not alone
css:
  - "/css/reading.css"
  - "/css/book-list.css"
  - "/css/newsletter-inpost.css"
---

{% include header.html type="post" %}

{% include sections/sec-front-md.html %}
  {% include newsletter.html %}
  <p class="txt-center">
    There are many books I have read are not listed in the below list. This list shows only the books I have recently read or still remember to write some comments for them.
  </p>
{% include sections/sec-back.html %}

{% include sections/sec-front-lg.html %}
  <div class="row display-flex hide-360">
    {% for post in site.tags.reading %}
      <div class="col-xs-6 col-sm-3 book-padding">
        <div class="card-book">
          <div class="book-img">
            <a href="{{ post.url | prepend: site.baseurl }}">
            <img class="img img-responsive full-height" src="{{ post.bookimg }}">
            </a>
          </div>
          <div class="book-caption">
            <h4><a class="txt-color" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h4>
            <p>{{ post.bookauthor }}</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <!-- only show on mobile size <=360px-->
  <div class="row justify-content-md-center show-360 hidden-sm hidden-md hidden-lg">
      <ul>
          {% for post in site.tags.reading %}
          <li>
              <a class="idx-lst-post-a txt-color" href="{{ post.url | prepend: site.baseurl }}">
              {{ post.title }}
              </a>
              <br />
              <i style="opacity: 0.7; font-size: 90%;">{{ post.bookauthor }}</i>
          </li>
          {% endfor %}
      </ul>
  </div>
{% include sections/sec-back.html %}