---
layout: base
title: Status of Thi
subtitle: Quick thoughts pass my head
css:
  - "/css/status.css"
comments: 1
---

{% include header.html type="post" %}

{% include sections/sec-front-lg.html %}

<h1 class="txt-center">2018</h1>

<ul class="Tstatus">
  {% assign stats = site.data.status.stt2018 | sort: 'date' %}
  {% assign stats = stats | reverse %}
  {% for stat in stats %}
    <li class="{% cycle '', 'Tstatus-inverted' %}">
    <div class="Tstatus-panel">
      {% if stat.photo %}
      <div class="Tstatus-heading">
        <img class="img-responsive" src="{{site.baseurl}}{{ stat.photo | prepend: site.baseurl | replace: '//', '/' }}" />
      </div>
      {% endif %}
      <div class="Tstatus-body">
        <p>
          {{ stat.status }}
          {% if stat.link %}
            <a target="_blank" href="{{stat.link}}"> {{stat.des-link}}.</a>
          {% endif %}
        </p>
      </div>
      <div class="Tstatus-footer">
        {{ stat.date }}
      </div>
    </div>
    </li>
  {% endfor %}
<li class="clearfix" style="float: none;"></li>
</ul>

<h1 class="txt-center">2017</h1>

<ul class="Tstatus">
  {% assign stats = site.data.status.stt2017 | sort: 'date' %}
  {% assign stats = stats | reverse %}
  {% for stat in stats %}
    <li class="{% cycle '', 'Tstatus-inverted' %}">
    <div class="Tstatus-panel">
      {% if stat.photo %}
      <div class="Tstatus-heading">
        <img class="img-responsive" src="{{site.baseurl}}{{ stat.photo | prepend: site.baseurl | replace: '//', '/' }}" />
      </div>
      {% endif %}
      <div class="Tstatus-body">
        <p>
          {{ stat.status }}
          {% if stat.link %}
            <a target="_blank" href="{{stat.link}}"> {{stat.des-link}}.</a>
          {% endif %}
        </p>
      </div>
      <div class="Tstatus-footer">
        {{ stat.date }}
      </div>
    </div>
    </li>
  {% endfor %}
<li class="clearfix" style="float: none;"></li>
</ul>

<h1 class="txt-center">2016</h1>

<ul class="Tstatus">
  {% assign stats = site.data.status.stt2016 | sort: 'date' %}
  {% assign stats = stats | reverse %}
  {% for stat in stats %}
    <li class="{% cycle '', 'Tstatus-inverted' %}">
    <div class="Tstatus-panel">
      {% if stat.photo %}
      <div class="Tstatus-heading">
        <img class="img-responsive" src="{{site.baseurl}}{{ stat.photo | prepend: site.baseurl | replace: '//', '/' }}" />
      </div>
      {% endif %}
      <div class="Tstatus-body">
        <p>
          {{ stat.status }}
          {% if stat.link %}
            <a target="_blank" href="{{stat.link}}"> {{stat.des-link}}.</a>
          {% endif %}
        </p>
      </div>
      <div class="Tstatus-footer">
        {{ stat.date }}
      </div>
    </div>
    </li>
  {% endfor %}
<li class="clearfix" style="float: none;"></li>
</ul>

{% include sections/sec-back.html %}