<h2{% if include.ref %} id="{{ include.ref }}"{% endif %}>{{ include.heading }}</h2>
{% if include.ref-title %}
<h4><a class="txt-color" href="{{ include.ref }}">{{ include.ref-title }}</a></h4>
{% endif %}

<ul class="timeline timeline-centered">
  {% for obj in include.source limit: include.limit %}
  <li class="timeline-item">
      <div class="timeline-info">
          <span>{{ obj.date }}</span>
      </div>
      <div class="timeline-marker"></div>
      <div class="timeline-content">
        {{ obj.act }}
        {% if obj.more %}
          <br />
          <i class="Tmore T90">{{ obj.more }}</i>
        {% endif %}
        {% if obj.ref %}
          <i class="Tmore T90"><a href="{{ obj.ref }}">Reference link.</a></i>
        {% endif %}
      </div>
  </li>
  {% endfor %}
</ul>