<h2>Say hello</h2>
<h4>
    Take a chat starting with an email, why not?
</h4>
<div>
<div class="row contact-form">
<form method="POST" action="https://formspree.io/dinhanhthimail@gmail.com">
  <div class="col-sm-6 col-xs-12 below"><input type="text" name="name" placeholder="Your name"></div>
  <div class="col-sm-6 col-xs-12 below"><input type="email" name="email" placeholder="Your email"></div>
  <div class="col-xs-12 textarea-container below">
    <textarea id="abc" name="message" placeholder="Your message"></textarea>
    <div class="textarea-size"></div>
  </div>
  <div class="txt-center"><button type="submit">Send</button></div>
</form>
</div>