<h2{% if include.ref %} id="{{ include.ref }}" {% endif %}>{{ include.heading }}</h2>
  {% if include.ref-title %}
  <h4><a class="txt-color" href="{{ include.ref }}">{{ include.ref-title }}</a></h4>
  {% endif %}

<ul class="publications">
  {% for item in include.source limit: include.limit %}
  <li class="item">
    <div class="name">
      {% for name in item.author %}{% unless forloop.last %}{% unless forloop.first %},{% endunless %} {% else %}{%
        unless forloop.first %} and {% endunless %}{% endunless %}<b>{{ name }}</b>{% endfor %}.
    </div>
    <div class="title">
      "{{ item.title }}".
      {% if item.publisher %}<i>{{ item.publisher }}</i>.{% endif %}
      {% if item.more %}{{ item.more }}.{% endif %}
    </div>
    {% if item.source %}
      <div class="source">
        {% if item.source-prefix %}{{ item.source-prefix }}{% endif %}
        <a href="{{ item.source }}" target="_blank">{{ item.source }}</a>.
      </div>
    {% endif %}
  </li>
  {% endfor %}
</ul>