---
layout: base
common-ext-css:
  - "/css/reading.css"
  - "/css/blog-post.css"
  - "/css/mucluc.css"
  - "/css/insert-img.css"
  - "/css/post-list.css"
  - "/css/book-list.css"
  - "//maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css"
---

{% include header.html type="post" %}

{% include sections/sec-front-md.html %}

  <article role="main" class="blog-post">
    {{ content }}
  </article>

  {% unless page.bookimg %}
    {% if page.tags.size > 0 %}
      <div class="blog-tags">
        {% if site.link-tags %}
          {% for tag in page.tags %}
            <a href="{{ site.baseurl }}/tags#{{- tag -}}">{{- tag -}}</a>
          {% endfor %}
        {% else %}
          {{ page.tags | join: ", " }}
        {% endif %}
      </div>
    {% endif %}
  {% endunless %}

{% include sections/sec-back.html %}

{% include sections/sec-front-lg.html %}
  {% unless page.bookimg %}
    <div class="post-reading-list">
      <h2>You may like?</h2>
      <h4>
          <a class="txt-color" href="/blog">see all posts</a>
      </h4>
    </div>
    {% include related-posts.html %}
  {% else %}
    <div class="post-reading-list">
      <h2>Recent read books</h2>
      <h4>
          <a class="txt-color" href="/reading">see all books</a>
      </h4>
    </div>
    {% include sections/sec-reading.html %}
  {% endunless %}
{% include sections/sec-back.html %}